@font-face {
    font-family: popReg;
    src: url(./fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: popBold;
    src: url(./fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: popExBold;
    src: url(./fonts/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: popSemiBold;
    src: url(./fonts/Poppins-SemiBold.ttf);
}





body {
    padding: 0;
    margin: 0;
    font-family: popReg;
}

.navbar {
    font-size: 18px;
    padding: 15px;
    background-color: #161616;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links a {
    color: #fff;
    text-decoration: none;
}

.links a:hover {
    color: #d3d3d3;
}

.links {
    list-style-type: none;
    width: 550px;
    display: flex;
    justify-content: space-around;
}

.fr-button {
    padding: 15px;
    border-radius: 50px;
    background-color: #F87107;
}

.main-text {
    padding-top: 20px;
    font-family: popExBold;
    font-size: 30px;
    color: #fff;
    line-height: 250%;
}

.main-text h1 {
    margin-bottom: 20px;
}

.main-text a {
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-family: popReg;
    font-size: 20px;
    border: 2px solid #F87107;
    border-radius: 50px;
    padding: 17px;
    padding-left: 30px;
    padding-right: 30px;
}

.front-page {
    background-color: #161616;
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 20px;
}

.about-us {
    margin-top: 120px;
    display: flex;
    background-image: url(./img/secondimagetest3.webp);
    justify-content: flex-end;
    height: 110vh;
}

.abus-text {
    margin-top: 20px;
    width: 40%;
    height: 55%;
    border: 1px solid #fff;
    padding: 50px;
    background-color: #fff;
    font-family: popSemiBold;
}

.abus-text p {
    font-size: 20px;
    font-family: popReg;
}

.abus-text h1 {
    font-size: 40px;
    font-family: popExBold;
}

.mussels-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.mussels-menu h1 {
    font-size: 45px;
    font-family: popExBold;
    margin-top: 50px;
    margin-bottom: 50px;
}

.mussels-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 80px;
    grid-row-gap: 60px;
}

.mussels-grid div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mussels-grid h3 {
    font-size: 22px;
    font-family: popBold;
    color: #333;
    margin-bottom: 0;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
}

.div4 {
    grid-area: 2 / 1 / 3 / 2;
}

.div5 {
    grid-area: 2 / 2 / 3 / 3;
}

.div6 {
    grid-area: 2 / 3 / 3 / 4;
}

.other-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.other-products h1 {
    font-size: 45px;
    font-family: popExBold;
    margin-top: 50px;
    margin-bottom: 50px;
}

.other-products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 80px;
    grid-row-gap: 60px;
}

.other-products-grid div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.other-products-grid h3 {
    font-size: 22px;
    font-family: popBold;
    color: #333;
    margin-bottom: 0;
}

.div7 {
    grid-area: 1 / 1 / 2 / 2;
}

.div8 {
    grid-area: 1 / 2 / 2 / 3;
}

.div9 {
    grid-area: 1 / 3 / 2 / 4;
}

.div10 {
    grid-area: 2 / 1 / 3 / 2;
}

.div11 {
    grid-area: 2 / 2 / 3 / 3;
}

.our-locations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.our-locations h1 {
    font-size: 45px;
    font-family: popExBold;
    margin-bottom: 50px;
}

.our-locations-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    margin-left: 100px;
    margin-right: 100px;
}

.our-locations h3 {
    font-size: 22px;
    font-family: popBold;
    color: #333;
}

.our-locations p {
    color: #333;
    font-family: popSemiBold;
}

.our-locations b {
    font-family: popBold;
}

.div12 {
    grid-area: 1 / 1 / 2 / 2;
}

.div13 {
    grid-area: 1 / 2 / 2 / 3;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    color: #fff;
}

.list-inline {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    list-style-type: none;
}

.list-inline a {
    text-decoration: none;
    color: #fff;
}

.list-inline a:hover {
    color: #d3d3d3;
}

.a1 {
    margin-left: 30px;
}