@font-face {
    font-family: popReg;
    src: url(./fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: popBold;
    src: url(./fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: popExBold;
    src: url(./fonts/Poppins-ExtraBold.ttf);
}





body {
    padding: 0;
    margin: 0;
    font-family: popReg;
}

.navbar {
    font-size: 18px;
    padding: 15px;
    background-color: #161616;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links a {
    color: #fff;
    text-decoration: none;
}

.links {
    list-style-type: none;
    width: 550px;
    display: flex;
    justify-content: space-around;
}

.fr-button {
    padding: 15px;
    border-radius: 50px;
    background-color: #F87107;
}

.main-text {
    padding-top: 20px;
    font-family: popExBold;
    font-size: 30px;
    color: #fff;
    line-height: 250%;
}

.main-text h1 {
    margin-bottom: 20px;
}

.main-text a {
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-family: popReg;
    font-size: 20px;
    border: 2px solid #F87107;
    border-radius: 50px;
    padding: 17px;
    padding-left: 30px;
    padding-right: 30px;
}

.front-page {
    background-color: #161616;
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 20px;
}